./backend/.env
./backend/venv
./backend/mysql-mcp-server/venv
./backend/zyk_ai_platform.db


backend/app/__pycache__/
backend/app/api/__pycache__/
backend/app/config/__pycache__/
backend/app/middleware/__pycache__/
backend/app/models/__pycache__/
backend/app/services/__pycache__/
backend/app/utils/__pycache__/

./frontend/node_modules
frontend/node_modules/

*.pyc
zyk_ai_platform.db
.worktrees/
